/* Set the background image sources */
#newyork { background-image: url("img/newyork.jpg"); }
#buenosaires { background-image: url("img/buenosaires.jpg"); }
#paris { background-image: url("img/paris.jpg"); }
#capetown { background-image: url("img/capetown.jpg"); }
#seoul { background-image: url("img/seoul.jpg"); }
#sydney { background-image: url("img/sydney.jpg"); }
/* Background settings */
.demo-page {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Transparent footer */
.demo-page .ui-footer {
    background: none;
    border: none;
    bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.control.ui-btn-left,
.trivia-btn.ui-btn-right {
    top: auto;
    bottom: 7px;
    margin: 0;
}
/* Custom styling for the trivia source */
small {
    font-size: .75em;
    color: #666;
}